<h1>Заблокированные пользователи</h1>

<table>
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Время до истечения блокировки</th>
      <th>Отменить блокировку</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for client <- @users do %>
    <tr>
      <td><%= client %></td>
      <td>00:00</td>
      <td><a href="#" class="btn btn-primary">разблокировать</a></td>
    </tr>
<% end %>
  </tbody>
</table>
