<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document Cheker</title>
    <%= if Application.get_env(:inn_checker_service, :env) == :prod do %>
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(67226479, "init", {
          clickmap:true,
          trackLinks:true,
           accurateTrackBounce:true
           });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/67226479" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>window.userToken = "<%= @conn.assigns.token %>";</script>
    <script>window.client = "<%= @conn.assigns.client %>"</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                  <%= link("Проверка документов", to: Routes.inn_path(@conn, :new), class: "navbar-brand navbar-text text-dark h1") %>
                  <%= if logged?(@conn) do %>
                      <%= if current_user(@conn) |> can?("index_users") do %>
                        <li class="nav-item">
                          <%= link("Пользователи", to: Routes.user_path(@conn, :index), class: "navbar-brand navbar-text text-dark h1") %>
                        </li>
                      <% end %>
                      <%= if current_user(@conn) |> can?("index_inn") do %>
                        <li class="nav-item">
                          <%= link("Все документы", to: Routes.inn_path(@conn, :index), class: "navbar-brand navbar-text text-dark h1") %>
                        </li>
                      <% end %>
                    <% end %>
                </ul>
                <span class="navbar-text">
                    <%= if logged?(@conn) do %>
                    <h2 class="text-dark">
                      Добро пожаловать, <%= current_user(@conn).login %>!
                    </h2>
                    <h2>
                      <%= link(
                        "Выйти",
                        to: Routes.session_path(@conn, :delete),
                        method: :delete)
                      %>
                    </h2>
                  <% else %>
                    <h2>
                      <%= link("Войти", to: Routes.session_path(@conn, :create)) %>
                    </h2>
                  <% end %>
                </span>
            </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-success h3" role="alert"><%= get_flash(@conn, :success) %></p>
      <p class="alert alert-info h" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger h3" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
